<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khwy.mapper.OrgMapper">
	<select id="list" resultType="com.khwy.pojo.Org">
		select 
			o.orgId,o.orgCode,o.simpleName,o.fullName,o.introduce,o.operUserId,o.remark 
		from 
			t_org o
	</select>
</mapper>