<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khwy.mapper.UserMapper">
	<select id="findById" parameterType="String" resultType="com.khwy.pojo.User">
		select 
			userId,userName,password,salt,roleIds 
		from
			t_user
		<where>
			1=1
			and username=#{username}
		</where>
	</select>
	<select id="findByUserId" parameterType="Integer" resultType="com.khwy.pojo.User">
		select 
			username,password,salt,roleids 
		from
			t_user
		<where>
			1=1
			and userid=#{userid}
		</where>
		</select>
</mapper>